// ====================================
// SETTINGS: COLORS
// ====================================

// Brand colors
// ====================================

$color-pink-light: #FEF7F4 !default;
$color-pink-dark:  #F49494 !default;

// Functional colors
// ====================================

$color-black:      #000 !default;
$color-gray-light: #F5F7F6 !default;
$color-white:      #FFF !default;
