/* ====================================
 * COMPONENTS: BOX
 * ================================= */

// Settings
// ====================================

/* Box block
 * ================================= */

.c-box {
  margin-right: px-to-rem(-$spacing-base * 3);
  margin-left: px-to-rem(-$spacing-base * 3);
  padding: px-to-rem($spacing-base * 3);
  background-color: $color-gray-light;

  @include media-query("m") {
    padding: px-to-rem($spacing-base * 5);
  }

  @include media-query("l") {
    margin-right: px-to-rem($spacing-base * 10);
    margin-left: px-to-rem($spacing-base * 10);
  }
}
