/* ====================================
 * COMPONENTS: SECTION
 * ================================= */

// Settings
// ====================================

/* Section block
 * ================================= */

.c-section {
  margin-bottom: px-to-rem($spacing-base * 5);

  @include media-query("m") {
    margin-bottom: px-to-rem($spacing-base * 10);
  }
}

/* Section background modifiers
 * ================================= */

.c-section--split {
  background-image: url("/assets/images/section-bg.svg"), linear-gradient($color-pink-light 50%, $color-white 50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100px, contain;
}

/* Header element
 * ================================= */

.c-section__header {
  @include media-query("l") {
    display: grid;
    grid-template-areas: "title ."
                         "intro .";
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Title element
 * ================================= */

.c-section__title {
  grid-area: title;
  margin-bottom: px-to-rem($spacing-base * 2);
  @extend h2;
}

/* Intro element
 * ================================= */

.c-section__intro {
  grid-area: intro;
  margin-bottom: px-to-rem($spacing-base * 4);

  & > p:last-child {
    margin-bottom: 0;
  }
}
