<!doctype html>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="{{ site.production_url }}">
    <meta property="og:image" content="{{site.baseurl}}/assets/images/thumbnail.png">

    <!-- Twitter -->
    <meta property="twitter:title" content="{{ site.title }}">
    <meta property="twitter:description" content="{{ site.description }}">
    <meta property="twitter:url" content="{{ site.production_url }}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content="{{site.baseurl}}/assets/images/thumbnail.png">
  </head>

  <body>
    <header class="c-site-header" role="banner">
      <div class="o-container">
        <div class="c-site-header__top">
          <h1 class="c-site-header__name">Sarah Katz</h1>
          <a href="tel:+32479401229" title="Rendez-vous par téléphone ou SMS au +32 479 40 12 29" class="c-site-header__phone">
            <span class="c-icon c-icon--mobile"></span>
            +32 479 40 12 29
          </a>
        </div>
        <div class="c-site-header__bottom">
          <h2 class="c-site-header__title">Psychologue clinicienne et psychotraumatologue</h2>
        </div>
      </div>
    </header>

    <main role="main">
      {{ content }}
    </main>

    <footer class="c-site-footer" role="contentinfo">
      © {{ site.time | date: '%Y' }} – Sarah Katz
    </footer>
  </body>
</html>
