/* ====================================
 * BASE: HEADINGS
 * ================================= */

h1 {
  font-weight: $font-weight-medium;
  font-size: px-to-rem($font-size-h1);
  line-height: ($line-height-h1 / $font-size-h1);
}

h2 {
  font-weight: $font-weight-medium;
  font-size: px-to-rem($font-size-h2);
  line-height: ($line-height-h2 / $font-size-h2);
}

h3 {
  font-weight: $font-weight-regular;
  font-size: px-to-rem($font-size-h3);
  line-height: ($line-height-h3 / $font-size-h3);
}
